* {
    font-family: 'Nunito',
        sans-serif;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    font-weight: 500;
}

#header nav {
    background-color: rgba(22, 33, 70, 0.3) !important;
    padding: 15px 30px;
    border-bottom: 1px solid #c4c4c4;
    position: fixed;
    width: 100%;
}

#header .brand {
    padding: 0;
    margin: 0;
}

#header .brand h1 {
    color: rgb(134, 184, 23) !important;
    font-weight: 800;
    font-size: 30px;
    padding: 0;
    margin: 0;
}

#header li a {
    padding-left: 15px !important;
    padding-right: 15px !important;
    font-weight: 500;
    font-size: 20px;
    color: #FFF;
}

#header li a:hover {
    color: rgb(17, 236, 39);
    border-radius: 5px;
}

#header ul li:last-child {
    background-color: #a8b817;
    border-radius: 25px;
    padding-left: 10px;
    padding-right: 10px;
}

#header ul li:last-child:hover {
    background-color: #FFF;
}

#banner {
    background: url(../images/banner.jpg) no-repeat fixed;
    background-size: 100%;
    display: block;
}

#banner h1 {
    font-size: calc(1.525rem + 3.3vw);
    font-weight: 800;
    font-size: 60px;
    line-height: 1.8;
}

#banner p {
    font-size: 20px;
    font-weight: 400;
}

#banner .overlay {
    background-color: rgba(0, 0, 0, .5);
    padding: 230px 0;
}

.footer a {
    text-decoration: none;
}

.footer .btn.btn-social {
    margin-right: 5px;
    width: 35px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--light);
    font-weight: normal;
    border: 1px solid #FFFFFF;
    border-radius: 35px;
    transition: .3s;
}

.footer .btn.btn-social:hover {
    color: var(--primary);
}

.footer .btn.btn-link {
    display: block;
    margin-bottom: 5px;
    padding: 0;
    text-align: left;
    color: #FFFFFF;
    font-size: 15px;
    font-weight: normal;
    text-transform: capitalize;
    transition: .3s;
    text-decoration: none;
}

.footer .btn.btn-link::before {
    position: relative;
    content: "\f105";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    margin-right: 10px;
}

.footer .btn.btn-link:hover {
    letter-spacing: 1px;
    box-shadow: none;
}

.footer .copyright {
    padding: 25px 0;
    font-size: 15px;
    border-top: 1px solid rgba(256, 256, 256, .1);
}

.footer .copyright a {
    color: var(--light);
}

.footer .footer-menu a {
    margin-right: 15px;
    padding-right: 15px;
    border-right: 1px solid rgba(255, 255, 255, .1);
}

.footer .footer-menu a:last-child {
    margin-right: 0;
    padding-right: 0;
    border-right: none;
}